.contenairStudient {
    display: flex;
  flex-direction: column;
    gap: 20px;
}
.contenairStudient .title {
    background-color: rgb(231, 189, 85);
    border: 5px solid rgb(114, 85, 10);
    border-radius: 20px;
    text-align: center;
    color: black;
    position: relative;
    top: -30px;
}
.cardwrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.globalCard{

    text-align: center;
}
.globalCard .details {
    background-color: bisque;
    width: 250px;
    text-align: center;
    padding-top: 25px;
    border: 2px solid brown;
    border-radius: 10px;
}

.globalCard .details img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.me-2{
    background-color: rgb(44, 41, 41);
    color: white;
    padding: 10px;
    margin: 10px;
    font-size: larger;
}
::ng-deep .my-custom-popover .popover-body {
    padding: 20px;
    background-color: #f0f0f0;
  }
.capitalize {
    position: relative;
    top: 10px;
    background: rgb(93, 224, 163);
}
#delbutton {
    position: relative;
    position: relative;
    top: 15%;
    right: -35%;
}
#delbutton button {
    background: red;
}
.admin-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
   
}

.admin-buttons button {
    font-size: 1em;
}