<div class="containerManager">
    <h2>Mise a jour fiche étudiant</h2>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <mat-form-field>
          <mat-label>Nom d'utilisateur</mat-label>
          <input matInput [(ngModel)]="name" name="name" required>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Prénom d'utilisateur</mat-label>
          <input matInput [(ngModel)]="firstname" name="firstname" required>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Date de naissance</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="birthday" name="birthday" required>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <!-- Champ de fichier sans mat-form-field -->
        <div class="photo">
        <div>
          <label>Photo</label>
          <input type="file" (change)="onFileSelected($event)">
        </div>
        <div *ngIf="photo">
            <img [src]="imageUrl + photo" alt="Photo de l'étudiant">
          </div>
          <div *ngIf="!photo">
            <p>Aucune photo disponible</p>
          </div>
        </div>
        <button mat-button type="submit">Valider</button>
      </form>
      <div *ngIf="!isEnrolledInSchool">
        <h3>Inscrire l'étudiant dans une école</h3>
        <mat-form-field>
          <mat-label>Choisir une école</mat-label>
          <mat-select [(ngModel)]="favoriteSchool">
            <mat-option *ngFor="let school of listSchool" [value]="school.idSchool">
              {{school.nameSchool}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSchoolSubmit()">Inscrire</button>
      </div>
      
      <div *ngIf="isEnrolledInSchool" id="fin">
        <h3>École actuelle</h3>
        <p>{{getCurrentSchoolName()}}</p>
        <button mat-raised-button color="primary" (click)="changeSchool()">Changer d'école</button>
      
        <h3>Langages disponibles</h3>
        <mat-checkbox *ngFor="let langage of listLangage" 
                      (change)="handleLangageChange(langage.idLangage)"
                      [checked]="isLangageSelected(langage.idLangage)">
          <span id="test">{{langage.nameLangage}}</span>
        </mat-checkbox>
        <button mat-raised-button color="primary" (click)="handleLangageSubmit()">Mettre à jour les langages</button>
      </div>
</div>
